@keyframes colors1 {
  0%   {color: salmon;}
  10%  {color: salmon;}
  11%  {color: cyan;}
  20%  {color: cyan;}
  21%  {color: gold;}
  30%  {color: gold;}
  31%  {color: violet;}
  40%  {color: violet;}
  41%  {color: deepskyblue;}
  50%  {color: deepskyblue;}
  51%  {color: orange;}
  60%  {color: orange;}
  61%  {color: limegreen;}
  70%  {color: limegreen;}
  71%  {color: chocolate;}
  80%  {color: chocolate;}
  81%  {color: hotpink;}
  90%  {color: hotpink;}
  91%  {color: tomato;}
  100% {color: tomato;}
}