@use "sass:math";

.MosaicGallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  &__mosaicWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    &--triReligious {
      $gW: 0.5 * math.sqrt(3) * 6rem;
      $color1: rgba(blue, 0.9);
      $color2: rgba(darkorange, 0.9);
      $color3: rgba(indigo, 0.9);
      $color4: rgba(0, 163, 0, 0.9);
      background-image: repeating-linear-gradient(
        120deg,
        $color4 0.9 * $gW,
        $color1 1.1 * $gW,
        $color1 1.9 * $gW,
        $color2 2.1 * $gW,
        $color2 2.9 * $gW,
        $color3 3.1 * $gW,
        $color3 3.9 * $gW,
        $color4 4.1 * $gW,
        $color4 4.9 * $gW
      );
    }
    &--beehive {
      background: linear-gradient(
      60deg,
      rgba(255, 255, 0, 0.5),
      rgba(255, 215, 0, 0.6),
      rgba(255, 165, 0, 0.7),
      rgba(255, 140, 0, 0.8),
      rgba(178, 34, 34, 0.7)
      ),
      linear-gradient(
        -60deg,
        rgba(255, 140, 000, 0.8),
        rgba(255, 215, 000, 0.7),
        rgba(255, 255, 100, 0.6),
        rgba(255, 140, 000, 0.5)
      );
    }
  }
  &__mosaic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    background-repeat: repeat;
    background-position: center;
    &--nazari {
      $x: 4.9rem;
      padding: 2rem;
      background-image: url("../../../assets/mosaics/nazariMosaic.svg");
      background-size: $x ($x * math.sqrt(3));
    }
    &--triReligious {
      $x: 6rem;
      padding: 2rem;
      background-image: url("../../../assets/mosaics/triReligiousMosaic.svg");
      background-size: $x ($x * math.sqrt(3));
      background-position: (-0.5 * $x) 0;
    }
    &--hexagons {
      $x: 6rem;
      padding: 2rem;
      background-image: url("../../../assets/mosaics/hexagonsMosaic.svg");
      background-size: $x ($x * math.sqrt(3));
    }
    &--beehive {
      $x: 6rem;
      padding: 2rem;
      background-image: url("../../../assets/mosaics/beehiveMosaic.svg");
      background-size: $x ($x * math.sqrt(3));
    }
    &--lemons {
      $x: 7rem;
      padding: 2rem;
      background-image: url("../../../assets/mosaics/lemonsMosaic.svg");
      background-size: (0.85 * $x) $x;
    }
    &--arabic {
      $x: 10rem;
      padding: 2rem;
      background-image: url("../../../assets/mosaics/arabicMosaic.svg");
      background-size: $x;
    }
    &--people {
      $x: 5rem;
      padding: 2rem;
      background-image: url("../../../assets/mosaics/peopleMosaic.svg");
      background-size: $x;
    }
    &--hex {
      $x: 12rem;
      padding: 2rem;
      background-image: url("../../../assets/mosaics/hexMosaic.svg");
      background-size: ($x * math.sqrt(3)) $x;
    }
    &--arrows {
      $x: 6rem;
      padding: 2rem;
      background-image: url("../../../assets/mosaics/arrowsMosaic.svg");
      background-size: $x ($x * math.sqrt(3));
    }
    &--wires {
      $x: 30rem;
      padding: 2rem;
      background-image: url("../../../assets/mosaics/wiresMosaic.svg");
      background-size: $x;
    }
    &--curves {
      $x: 9rem;
      padding: 2rem;
      background-image: url("../../../assets/mosaics/curvesMosaic.svg");
      background-size: $x;
    }
    &--airplane {
      $x: 8rem;
      padding: 2rem;
      background-image: url("../../../assets/mosaics/airplaneMosaic.svg");
      background-size: $x;
    }
  }
}